setuptools
wheel
aiofiles
aiohttp
aiosignal
aiosqlite
alembic
anyio
asgi-lifespan
async-timeout
asyncpg
attrs
azure-core
azure-storage-blob
boto3
botocore
cachetools
certifi
cffi
charset-normalizer<3.0,>=2.0
click
cloudpickle
commonmark
coolname
croniter
cryptography
docker
fastapi
frozenlist
fsspec
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
griffe==0.21.0
h11==0.12.0
httpcore
httpx[http2]
idna
importlib-metadata
importlib-resources
isodate
jmespath
jsonpatch
jsonpointer
kubernetes
Mako
MarkupSafe
msrest
multidict
oauthlib
packaging
pendulum
prefect
prefect-aws
prefect-email
prefect-shell
protobuf
py4j==0.10.9.5
pyasn1
pyasn1-modules
pycparser
pydantic
Pygments
pyparsing
pyspark
python-dateutil
python-slugify
pytz
pytzdata
PyYAML
readchar
requests
requests-oauthlib
rfc3986==1.5.0
rich
rsa
s3transfer
six
slack-sdk
sniffio
SQLAlchemy
starlette==0.20.4
text-unidecode
toml
typer
typing_extensions
urllib3
uvicorn
websocket-client
yarl
zipp
